/*
* Tornorroyv 分辨率768-1920
*/
/*通用开始*/
* {
  padding: 0;
  margin: 0;
  font-family: Times New Roman;
}
ul, li {
  list-style: none;
}
table {
  border-collapse:collapse;
}
a {
  text-decoration: none;
}
a:focus {
  outline:none;
}
html {
  font-size: 14px;
  line-height: 1.5;
  color: #303133;
  background: #f5f5f5;
}
.el-container {
  height: 100vh;
  overflow: hidden;
}
.pageHeader {
  background-color: #409EFF;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
}
.pageHeader .pageTitle {
  float: left;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  line-height: 40px;
}
.pageHeader .welcome {
  font-weight: bold;
  font-size: 16px;
  margin-right: 20px;
  color: #fff;
}
.pageAside {
  background-color: #fff;
  position: relative;
}
.pageMain {
  padding: 20px 40px;
}
.pageAsideMenu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}
.el-menu {
  border-right: none;
}
.el-menu-item i {
  color: #303133;
}
.el-submenu__title i {
  color: #303133;
}
.el-submenu .el-menu-item {
  padding: 0 20px;
}
.el-select {
  width: 100%;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(144,147,153,.3);
  border-radius: 4px;
}
.pageList {
  text-align: center;
  margin: 10px 0;
}
.el-table .cell { /*表格识别换行符*/
  white-space: pre-line;
}
/*通用结束*/
/*login开始*/
.login {
  height: 100%;
}
.loginBox {
  background: #fff;
  padding: 100px;
  border-radius: 10px;
}
.loginTitle {
  text-align: center;
  margin-bottom: 50px;
}
.loginBtn {
  margin-top: 30px;
  width: 100%;
}
/*login结束*/
.inPageTitle {
  border: 1px solid #ccc;
  padding: 10px 20px;
  background: #fff;
  margin-bottom: 20px;
  overflow: hidden;
}
.inPageNav {
  font-size: 22px;
  line-height: 40px;
}
.inPageContent {
  border: 1px solid #ccc;
  padding: 20px;
  background: #fff;
  margin-bottom: 20px;
}
.rightBtnBox {
  float: right;
}
.form .el-form-item__label {
  width: 35%;
}
.form .el-form-item__content {
  width: 45%;
  float: left;
}
.form .confirmBtn .el-form-item__content {
  width: 100%;
  text-align: center;
}
/*home开始*/
.welcome {
  padding-top: 10vh;
  font-size: 30px;
  text-align: center;
}
.welcome img {
  height: 400px;
  max-height: 40vh;
  margin: auto;
}
/*home结束*/
/*organization开始*/
.organization-list {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}
.organization-list .el-tree-node__content {
  height: 40px;
}
.organization-list .organization-node {
  line-height: 32px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.organization-list .organization-icon {
  font-size: 22px;
  padding-right: 10px;
}
.organization-list .organization-label {
  font-size: 18px;
}
.organization-editBox {
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
.organization-editTitle {
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  background: rgba(64, 158, 255, 0.15);
  overflow: hidden;
}
.organization-editTitle .title {
  font-size: 18px;
  line-height: 32px;
}
.organization-editContent {
  padding: 50px 20px;
}
/*organization结束*/
/*user开始*/
.searchBox {
  background: rgba(64, 158, 255, 0.15);
}
.searchForm {
  padding: 10px 20px;
  text-align: right;
}
.searchForm .el-form-item {
  display: inline-block;
  margin-bottom: 0;
  margin-left: 10px;
}
.searchForm .el-form-item__content {
  display: inline-block;
}
/*user结束*/
/*choiceQuestion开始*/
.choiceQuestionForm .el-form-item {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.choiceQuestionForm .el-form-item__label {
  width: 20%;
}
.choiceQuestionForm .el-form-item__content {
  width: 70%;
}
.choiceQuestionForm .choice {
  border: 1px solid #ccc;
  margin: 0 10% 22px;
  padding: 22px 0 0;
}
.choiceQuestionForm .choice .el-form-item {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.choiceQuestionForm .choice .el-form-item__label {
  line-height: 32px;
  width: 20%;
}
.choiceQuestionForm .choice .el-form-item__content {
  line-height: 32px;
  width: 70%;
}
.smallLine .el-form-item__label, .smallLine .el-form-item__content {
  line-height: 32px;
}
.answer .choiceQuestion .question{
  font-size: 20px;
  color: #303133;
  font-weight: bold;
}
.answer .choiceQuestion .questionTips{
  font-size: 16px;
  color: #909399;
}
.answer .choiceQuestion .choice {
  margin-top: 20px;
}
.answer .choiceQuestion .choice .el-radio-group, .answer .choiceQuestion .choice .el-checkbox-group{
  width: 100%;
}
.answer .choiceQuestion .choice .el-radio-group .el-radio, .answer .choiceQuestion .choice .el-checkbox-group .el-checkbox {
  width: 100%;
  line-height: 28px;
  margin-right: 0;
}
.answer .choiceQuestion .choice .el-radio-group .el-radio .el-radio__input, .answer .choiceQuestion .choice .el-checkbox-group .el-checkbox .el-checkbox__input {
  position: absolute;
  top: 6px;
}
.answer .choiceQuestion .choice .el-radio-group .el-radio .el-radio__label, .answer .choiceQuestion .choice .el-checkbox-group .el-checkbox .el-checkbox__label {
  padding-left: 24px;
  display: inline-block;
}
.answer .choiceQuestion .choice .choiceTitle{
  font-size: 18px;
  color: #303133;
  white-space: normal;
}
.answer .choiceQuestion .choice .choiceTips{
  font-size: 14px;
  color: #909399;
  margin: 0 10px;
}
.answer .choiceQuestion .choice .additionContent {
  width: 345px;
  font-weight: normal;
}
.answer .choiceQuestion .choice .additionContent .el-input__inner {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #303133;
  font-size: 14px;
  padding: 0 5px;
  background: transparent;
}
.answer .choiceQuestion .choice .additionContent .el-input__suffix{
  right: 0;
}
.answer .choiceQuestion .choice .additionContent.is-disabled .el-input__inner {
  border-bottom: none;
}
/*choiceQuestion结束*/
/*fillInQuestion开始*/
.answer .fillInQuestion .question{
  font-size: 20px;
  color: #303133;
  font-weight: bold;
}
.answer .fillInQuestion .question .part .additionContent {
  margin: 0 10px;
  max-width: 800px;
  font-weight: normal;
}
.answer .fillInQuestion .question .part .additionContent .el-input__inner {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #303133;
  font-size: 14px;
  padding: 0 5px;
  background: transparent;
  text-align: left;
}
.answer .fillInQuestion .question .part .additionContent .el-input__suffix{
  right: 0;
}
.answer .fillInQuestion .question .part .additionContent .el-input-number__decrease, .answer .fillInQuestion .question .part .additionContent .el-input-number__increase {
  display: none;
}
.answer .fillInQuestion .question .part .additionContent .el-input__prefix {
  display: none;
}
.answer .fillInQuestion .question .part .nextLine {
  display: block;
  clear: both;
}
.answer .fillInQuestion .questionTips {
  font-size: 16px;
  color: #909399;
}
.questionRightBtn {
  float: right;
}
.questionRightBtnGroup {
  float: right;
  margin: 0 0 0 10px;
}
.questionRightBtnSingle {
  float: right;
  margin: 0 10% 0 10px;
}
.marginLeft10 {
  margin-left: 10% !important;
  width: 88.8% !important;
}
.marginLeft10 .el-form-item__content{
  width: 90% !important;
}
.marginLeft20 {
  margin-left: 20% !important;
  width: 77.7% !important;
}
.marginLeft20 .el-form-item__content{
  width: 90% !important;
}
/*fillInQuestion结束*/
/*block开始*/
.questionType {
  width: auto;
}
.questionOption {
  max-width: 500px;
}
.choiceQuestionForm .choice .blockQuestion .el-form-item__content {
  line-height: 20px;
  margin-top: 6px;
  margin-bottom: 6px;
}
.blockQuestionB {
  color: #409EFF;
  margin-right: 10px;
}
.confirmBtnBlock {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.labelInput {
  width: 65px;
  margin-right: 20px;
}
/*block结束*/
/*newMemo开始*/
.newMemo .title .el-input__inner {
  text-align: center;
}
.newMemo .subtitle .el-form-item__label{
  width: 30%;
}
.newMemo .subtitle .el-form-item__content{
  width: 50%;
  float: left;
}
.newMemo .subtitle .el-input, .newMemo .subtitle .el-select{
  width: 100%;
}
.el-select__tags{
  flex-wrap: unset;
  overflow: hidden;
  margin-left: 1px;
}
.answerMemo {
  margin-bottom: 30px;
}
.answerMemo .typeTitle {
  font-size: 28px;
  color: #303133;
  font-weight: bold;
  /*text-align: center;*/
}
.answerMemo .typeReminder {
  font-size: 20px;
  color: #303133;
  font-weight: bold;
}
.answer .propertyQuestion .question {
  font-size: 20px;
  color: #303133;
  font-weight: bold;
}
.answer .propertyQuestion .additionContent {
  width: 100px;
  font-weight: normal;
  margin-left: 10px;
}
.answer .propertyQuestion .additionContent .el-input__inner {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #303133;
  font-size: 14px;
  padding: 0 5px;
  background: transparent;
  text-align: left;
}
.answer .propertyQuestion .additionContent .el-input__suffix{
  right: 0;
}
.answer .propertyQuestion .additionContent .el-input-number__decrease, .answer .propertyQuestion .additionContent .el-input-number__increase {
  display: none;
}
.answer .propertyQuestion .additionContent .el-input__prefix {
  display: none;
}
.answer .propertyQuestion .additionContent.is-disabled .el-input__inner {
  border-bottom: none;
}
.answer .textAreaWithLine {
  background: url(../images/textAreaWithLine.png);
}
.answer .textAreaWithLine .el-textarea__inner {
  border-radius: 0;
  border: none;
  font-size: 14px;
  padding: 0 5px;
  background: transparent;
  line-height: 28px;
}
.newMemo-submit {
  text-align: center;
}
.newMemo-content {
  padding: 0 30px;
}
/*newMemo结束*/
/*myMemo开始*/
.viewMemo {
  padding: 0 30px;
}
.viewMemo .viewMemo-title{
  font-size: 36px;
  text-align: center;
  color: #303133;
  font-weight: bold;
  margin-bottom: 30px;
}
.viewMemo .viewMemo-subtitle{
  font-size: 18px;
  color: #303133;
  font-weight: bold;
}
.viewMemo .viewMemo-subtitle span{
  font-size: 20px;
  font-weight: normal;
  color: #606266;
  text-decoration: underline;
}
.viewMemo .viewMemo-content {
  margin-top: 30px;
}
.viewMemo .viewMemo-content .viewMemo-content-answer{
  margin-bottom: 30px;
}
.viewMemo .viewMemo-content .viewMemo-content-answer .title .question {
  font-size: 28px;
  font-weight: bold;
  color: #303133;
  text-align: center;
}
.viewMemo .viewMemo-content .viewMemo-content-answer .question {
  font-size: 20px;
  color: #303133;
  font-weight: bold;
}
.viewMemo .viewMemo-content .viewMemo-content-answer .question .fillInPart {
  font-size: 20px;
  color: #606266;
  font-weight: normal;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: underline;
}
.viewMemo .viewMemo-content .viewMemo-content-answer .answer .content {
  font-size: 20px;
  color: #606266;
  text-decoration: underline;
}
.viewMemo .viewMemo-content .viewMemo-content-answer .answer .addition {
  font-size: 20px;
  color: #606266;
  font-style: normal;
  margin-left: 30px;
}
.viewMemo .viewMemo-content .viewMemo-content-answer .answer .addition b {
  margin-left: 10px;
  font-weight: normal;
  text-decoration: underline;
}
.noAnswer {
  font-size: 20px;
  color: #909399 !important;
  font-style: italic;
  text-decoration: underline;
}
/*myMemo结束*/
